# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.log
venv/
env/
.venv/

# Django
backend/db.sqlite3
backend/staticfiles/
*.sqlite3

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.npm/

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
